@media screen and (max-width: 1000px){

  .btn{
    font-size: 1.3rem;
  }

  .subscribe-box{
    text-align: center;
    width: 60%;
    margin: 5% auto 2%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgba(224, 224, 224, 1);
  }

  .sb{
    font-size: 0.6rem;
  }

}

.checkout-div{
  background-color: #e4cbb4;
  margin: 5% auto 7%;
  padding: 3% 5% 4%;
}

.new-card-form{
  display: none;
}

.btn{
  margin-top: 7%;
}
