@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

@media only screen and (max-width: 1000px){

  .navbar{
    margin-top: 5%;
  }

  .col-lg-4{
    margin: 5% auto;
  }

  .title{
    display: block;
    font-size: 1.5rem;
  }

  .btn{
    font-size: 1rem;
  }

  h3{
    font-size: 1.5rem;
  }

  h4{
    font-size: 1.5rem;
  }

  h5{
    font-size:1.2rem;
  }

  .subscribe-box{
    text-align: center;
    width: 60%;
    margin: 1% auto 2%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgba(224, 224, 224, 1);
  }

/* menja se font u subscribe boxu */
  .sb{
    font-size: 0.6rem;
  }

}

/*  */
.red{
  width: 90%;
  margin: 5% auto 10%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 3% 0;
}

.karakteristike-kafe-slika{
  width: 100%;
}

.slika{
  padding-left: 5%;
}

.btn{
  margin-top: 2%;
}
