@media only screen and (max-width: 780px){

  h1 {
    display: none;
  }

  .logo{
     min-width: 160px;
     min-height:90px;
     padding-left: 10%;
  }

  .navbar{
    margin-top: 5%;
  }

}


/* Resizing products */
@media only screen and (max-width: 1000px){

  .col-lg-4{
    margin: 5% 15%;
  }

  h3{
    font-size: 1.5rem;
  }

  h4{
    font-size:1.5rem;
  }


  .btn{
    font-size: 0.8rem;
  }

  .navbar{
    margin-top: 5%;
    text-align: center;
  }

}

@media only screen and (max-width: 400px){

  h1 {
    display: none;
  }

  .logo{
     min-width: 120px;
     min-height:70px;
     padding-left: 10%;
  }

  .navbar{
    margin-top: 5%;
    text-align: center;
  }

  .btn{
    font-size: 0.8rem;
  }
}



h3{
  text-align: center;
  line-height: 1.5;
  padding: 2%;
}

h5{
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.bg-img {
  margin-top: 10%;
  background-image: url("pozadine/pozadina.jpg");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.form{
  width: 60%;
  position: absolute;
  margin: 10% auto auto 18%;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 3%;
}

/* Full-width input fields */
  input[type=email]{
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


span{
  color: blue;
  text-decoration: underline;
}

.resetuj-link{
  display: inline;
}

.inline-p{
  display: inline;
}

#email-mistake{
  visibility: hidden;
  color: red;
}

.second-form{
  width: 60%;
  position: absolute;
  margin: 10% auto auto 18%;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: left;
  padding: 3%;
  display: none;
}
